@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

:root {

    --header-height: 3rem;

    --font-extralight: 200;

    --font-light: 400;

    --font-semi: 700;

    --font-bold: 900;

}

:root {

    --first-color: #464146;

    --second-color: #496D96;

    --third-color: #354B6C;

    --forth-color: #0E2431;

}

:root {

    --body-font: "Nunito", sans-serif;

    --big-font-size: 2rem;

    --h2-font-size: 1.25rem;

    --normal-font-size: 0.938rem;

}

@media screen and (min-width: 768px) {

    :root {

        --big-font-size: 3.5rem;

        --h2-font-size: 2rem;

        --normal-font-size: 1rem;

    }

}

:root {

    --mb-1: 0.5rem;

    --mb-2: 1rem;

    --mb-3: 1.5rem;

    --mb-4: 2rem;

    --mb-5: 2.5rem;

    --mb-6: 3rem;

}

:root {

    --z-back: -10;

    --z-normal: 1;

    --z-tooltip: 10;

    --z-fixed: 100;

}

*, ::before, ::after {

    box-sizing: border-box;
}

html {

    scroll-behavior: smooth;

}

body {

    margin: var(--header-height) 0 0 0;

    font-family: var(--body-font);

    font-size: var(--normal-font-size);

    color: var(--second-color);

}

h1, h2, p {

    margin: 0px;

}

ul {

    margin: 0px;

    padding: 0px;

    list-style: none;

}

a {

    text-decoration: none;

}

.section_title {

    position: relative;

    font-family: "Poppins", sans-serif;

    font-size: var(--h2-font-size);

    text-transform: uppercase;

    color: var(--first-color);

    margin-top: var(--mb-2);

    margin-bottom: var(--mb-4);

    text-align: center;

}

.section_title::after {

    position: absolute;

    left: 0px;

    top: 2rem;

    right: 0px;

    content: "";

    width: 65px;

    height: 0.2rem;

    margin: auto;

    background-color: var(--third-color);

}

.section {

    padding-top: 3rem;

    padding-bottom: 2rem;

}

.bd-grid {

    max-width: 1024px;

    display: grid;

    grid-template-columns: 100%;

    grid-column-gap: 2rem;

    width: 100%;

    padding: 1.5rem;

}

header.main_header {

    width: 100%;

    position: fixed;

    top: 0;

    left: 0;

    z-index: var(--z-fixed);

}

header.main_header nav.page_nav {

    height: var(--header-height);
    
    display: flex;

    justify-content: space-between;

    align-items: center;

    font-weight: var(--font-semi);

    background-color: rgb( 53, 75, 108);

}

@media screen and (max-width: 768px) {

    .nav_menu {

        position: fixed;

        top: var(--header-height); 

        right: -100%;
        
        width: 100%;

        height: 100%;

        padding: 2rem;

        transition: .5s;

        background-color: rgba( 0, 0, 0, .15);

        backdrop-filter: blur(20px);

    }

    header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link:hover {

        color: red;

    }

    header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link:hover::after {

        display: none;
    }

}

header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item {

    margin-bottom: var(--mb-4);

    text-align: center;

}

header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link {

    position: relative;

    color: #656266;

    font-size: 20px;

    font-weight: var(--font-light);

    text-transform: uppercase;

}

header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link:hover {

    position: relative;

}

header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link:hover::after { 

    position: absolute;

    left: 0;

    top: 3.5rem;

    content: "";

    width: 100%;

    height: 0.2rem;

    background-color: red;

    align-items: center;

}

header.main_header nav.page_nav div.main_company a.nav_company_name {

    font-family: "Poppins", sans-serif;

    text-transform: uppercase;

    color: var(--forth-color);

}

header.main_header nav.page_nav div.nav_toggle {

    color: var(--second-color);

    font-size: 1.5rem;

    cursor: pointer;

}

.show {

    right: 0%;

}

main.main_dashboard section.home {

    height: calc(100vh - 3rem);

    row-gap: 1rem;

}

main.main_dashboard section.home div.home_data {

    align-self: center;

}

main.main_dashboard section.home div.home_data h1.home_title {

    font-family: "Poppins", sans-serif;

    font-weight: var(--font-semi);

    font-size: var(--big-font-size);

    color: var(--forth-color);

    margin-bottom: var(--mb-5);

}

main.main_dashboard section.home div.home_data h1.home_title span.home_title_color {

    color: var(--second-color);

    font-weight: var(--font-semi);

}

main.main_dashboard section.home div.home_social {

    display: flex;

    flex-direction: column;

    margin-bottom: var(--mb-5);

}

main.main_dashboard section.home div.home_social a.home_social_icon {

    width: max-content;

    margin-bottom: var(--mb-2);

    font-size: 2.8rem;

}

main.main_dashboard section.home div.home_social a#facebook {

    color: #3B5998;

}

main.main_dashboard section.home div.home_social a#whatsapp {

    color: #34AF23;

    font-size: 3.2rem;

}

main.main_dashboard section.home div.home_social a#email {

    color: #228CDB;

}

main.main_dashboard section.home div.home_social a.home_social_icon {

    color: var(--first-color);

}

main.main_dashboard section.home div.home_logo {

    position: absolute;

    right: 5px;

    bottom: 5px;

}

main.main_dashboard section.home div.home_logo div.home_company_logo {

    width: 300px;

    height: 300px;

    background-image: url("../images/jpgobbi_logo_withoutbg_cropped.png");

    background-repeat: no-repeat;

    background-size: 300px;

    background-position: center;

}

main.main_dashboard section.home div.home_data a.contact_button {

    display: inline-block;

    background-color: var(--third-color);

    color: #FFFFFF;

    padding: 1.2rem 2.5rem;

    font-family: "Poppins", sans-serif;

    font-weight: var(--font-semi);

    font-size: 1.2rem;

    text-transform: uppercase;

    border-radius: .3rem;

}

main.main_dashboard section.home div.home_data a.contact_button:hover {

    box-shadow: 0px 10px 36px rgba( 0, 0, 0, .15);

}

main.main_dashboard section.about div.about_container {

    row-gap: 2rem;

    text-align: justify;

}

main.main_dashboard section.about div.about_container div.about_contents h2.about_subtitle {

    margin-bottom: var(--mb-2);

    font-family: "Poppins", sans-serif;

    font-weight: var(--font-semi);

    text-transform: uppercase;

    text-align: center;

}

main.main_dashboard section.about div.about_container div.about_contents p.about_text {

    font-family: "Nunito", sans-serif;
    
    font-weight: var(--font-semi);

    color: var(--forth-color);

}

main.main_dashboard section.about div.about_container div.about_img {

    justify-self: center;

    width: 330px;

    height: 330px;

    background-image: url("../vectors/security_guards.svg");

    background-repeat: no-repeat;

    background-position: center;

    background-size: 330px;

}