@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;700&display=swap');

* {

    box-sizing: border-box;

}

html {

    scroll-behavior: smooth;

}

body {

    margin: 0px;

    font-family: "Nunito", sans-serif;

    font-size: 0.938rem;

    color: #496D96;

    background-color: #EFEFEB;

}

h1, h2, p {

    margin: 0px;

    padding: 0px;

}

ul {

    margin: 0px;

    padding: 0px;

    list-style: none;

}

.section_title {

    position: relative;

    font-family: "Poppins", sans-serif;

    font-size: 1.5rem;

    text-transform: uppercase;

    color: rgba(14, 36, 49, 1);

    margin-top: 1rem;

    margin-bottom: 2rem;

    text-align: center;

}

.section_title::after {

    position: absolute;

    left: 0px;

    top: 2rem;

    right: 0px;

    content: "";

    width: 75px;

    height: 0.2rem;

    margin: auto;

    background-color: #496D96;

}

.section {

    box-sizing: border-box;

    padding-top: 3rem;

    padding-bottom: 2rem;

}

.bd-grid {

    max-width: 1024px;

    display: grid;

    grid-template-columns: 100%;

    grid-column-gap: 2rem;

    width: 100%;

    box-sizing: border-box;

    padding: 1.5rem;

}

header.main_header {

    width: 100%;

    position: fixed;

    top: 0;

    left: 0;

    z-index: 100;

}

header.main_header nav.page_nav {

    height: 3rem;
    
    display: flex;

    justify-content: space-between;

    align-items: center;

    font-weight: 700;

    background-color: #496D96;

}

@media screen and (max-width: 500px) {

    .nav_menu {

        position: fixed;

        top: 0; 

        right: -100%;
        
        width: 100%;

        height: 100%;

        padding: 2rem;

        transition: .5s;

        background-color: rgba(73, 109, 150, 0.7);

        backdrop-filter: blur(30px);

        display: flex;

        align-items: center;

        justify-content: center;

    }

    header.main_header nav.page_nav div.nav_menu ul.nav_list {

        font-family: "Poppins", sans-serif;

        height: 105%;

        display: flex;

        flex-direction: column;

        justify-content: space-around;

    }

    header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link:hover {

        color: #0E2431;

    }

    header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link:hover::after {

        display: none;
    }

    header.main_header nav.page_nav {

        background-color: transparent;

    }

    main.main_dashboard section.home {

        height: 100vh;
    
    }
    
    main.main_dashboard section.home div.home_data {
    
        align-self: center;
    
    }
    
    main.main_dashboard section.home div.home_data h1.home_title {
    
        font-family: "Poppins", sans-serif;
    
        font-weight: 700;
    
        font-size: 2.5rem;
    
        color: #0E2431;

        margin-top: 2.5rem;
    
        margin-bottom: 1.5rem;
    
    }
    
    main.main_dashboard section.home div.home_data h1.home_title span.home_title_color {
    
        color: #496D96;

        font-weight: 900;
    
    }
    
    main.main_dashboard section.home div.home_social {
    
        display: flex;
    
        flex-direction: column;
    
        align-items: flex-end;
    
        margin-bottom: 2.5rem;

        box-sizing: border-box;

        padding-right: 15px;
    
    }
    
    main.main_dashboard section.home div.home_social a.home_social_icon {
    
        width: max-content;
    
        font-size: 2.8rem;

        box-sizing: border-box;

        margin-bottom: 10px;
    
    }
    
    main.main_dashboard section.home div.home_social a#facebook {
    
        color: #3B5998;

        font-size: 3.5rem;

        text-shadow: 0px 5px 20px rgba(0, 0, 0, .35);

        transition: all 0.1s;

    }

    main.main_dashboard section.home div.home_social a#facebook:hover {

        text-shadow: none;

        transform: scale(0.95);

    }
    
    main.main_dashboard section.home div.home_social a#whatsapp {
    
        color: #34AF23;
    
        font-size: 4rem;

        text-shadow: 0px 5px 20px rgba(0, 0, 0, .35);

        transition: all 0.1s;
    
    }

    main.main_dashboard section.home div.home_social a#whatsapp:hover {

        text-shadow: none;

        transform: scale(0.95);

    }
    
    main.main_dashboard section.home div.home_social a#email {
    
        color: #228CDB;

        font-size: 3.5rem;

        text-shadow: 0px 5px 20px rgba(0, 0, 0, .35);

        transition: all 0.1s;
    
    }

    main.main_dashboard section.home div.home_social a#email:hover {

        text-shadow: none;

        transform: scale(0.95);

    }
    
    main.main_dashboard section.home div.home_social a.home_social_icon {
    
        color: #464146;
    
    }
    
    main.main_dashboard section.home div.home_logo {
    
        position: absolute;
    
        left: 15px;
    
        bottom: 15px;

    }
    
    main.main_dashboard section.home div.home_logo div.home_company_logo {
    
        width: 260px;
    
        height: 260px;
    
        background-image: url("../images/jpgobbi_logo_withoutbg_cropped.png");
    
        background-repeat: no-repeat;
    
        background-size: 260px;
    
        background-position: center;
    
    }
    
    main.main_dashboard section.home div.home_data a.contact_button {
    
        display: inline-block;
    
        background-color: #354B6C;
    
        color: #EFEFEB;
    
        padding: 1.2rem 2.2rem;
    
        font-family: "Poppins", sans-serif;
    
        font-weight: 700;
    
        font-size: 1.5rem;

        letter-spacing: 2px;
    
        text-transform: uppercase;

        text-decoration: none;
    
        border-radius: .5rem;

        margin-top: 12px;
    
        margin-bottom: 0rem;

        box-shadow: 0px 10px 20px rgba(0, 0, 0, .25);

        transition: all 0.1s;
    
    }
    
    main.main_dashboard section.home div.home_data a.contact_button:hover {
    
        box-shadow: none;

        transform: scale(0.98);
    
    }

    main.main_dashboard section.about div.about_container {

        row-gap: 2rem;

        box-sizing: border-box;
    
        text-align: justify;
    
    }
    
    main.main_dashboard section.about div.about_container div.about_img {
    
        justify-self: center;
    
        width: 400px;
    
        height: 400px;
    
        background-image: url("../vectors/security_guards.svg");
    
        background-repeat: no-repeat;
    
        background-position: center;
    
        background-size: 400px;
    
    }

    main.main_dashboard section.about div.about_container div.about_contents p.about_text {

        font-family: "Baloo Chettan 2";
    
        font-size: 1rem;
        
        font-weight: 400;
    
        color: #464146;

        box-sizing: border-box;

        padding: 0px;

    }
    
    main.main_dashboard section.about div.about_container div.about_contents p.about_text span.content_markup {
    
        font-weight: 700;
    
        color: #496D96;
    
    }

    section.services div.container {

        width: 100%;

        margin: 10px auto;

    }

    section.services div.container div.carousel {

        height: 850px;

        position: relative;

        overflow: hidden;

    }

    section.services div.container div.carousel div.slider {

        height: 100%;

        width: 500%;

        display: flex;

        transition: all 0.3s;

    }

    section.services div.container div.carousel div.slider section.subsection_slider {

        flex-basis: 100%;

        display: flex;

        justify-content: center;

        align-items: center;

        transform: translate(-0%);

    }

    section.services div.container div.carousel div.controls span.arrow {

        position: absolute;

        bottom: 0px;

        cursor: pointer;

    }

    section.services div.container div.carousel div.controls span.left {

        left: 10px;

        color: #B1BECD;

        display: none;

    }

    section.services div.container div.carousel div.controls span.right {

        right: 10px;

        color: #B1BECD;

        display: none;

    }

    section.services div.container div.carousel div.controls ul#section_indicators {

        position: absolute;

        left: 50%;

        bottom: 0px;

        transform: translate(-50%);

        list-style: none;

        display: flex;

        box-sizing: border-box;

        margin: 0px;

        padding: 0px;

        background-color: transparent;

    }

    section.services div.container div.carousel div.controls ul#section_indicators li {

        width: 30px;

        height: 30px;

        border: 2px solid #B1BECD;

        border-radius: 50px;

        margin: 0px 15px;

        background-color: #B1BECD;

        cursor: pointer;

    }

    section.services div.container div.carousel div.controls ul#section_indicators li.selected {

        background-color: transparent;

    }

    section.services div.container div.carousel div.slider section.subsection_slider {

        display: flex;

        flex-direction: column;

        align-items: center;

        box-sizing: border-box;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider1_right_col {

        flex-basis: 40%;

        width: 330px;

        background-image: url('../vectors/handshake.svg');

        background-size: 330px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider2_right_col {

        flex-basis: 40%;

        width: 330px;

        background-image: url('../vectors/armed_guard.svg');

        background-size: 330px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider3_right_col {

        flex-basis: 40%;

        width: 330px;

        background-image: url('../vectors/unarmed_guard.svg');

        background-size: 330px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider4_right_col {

        flex-basis: 40%;

        width: 330px;

        background-image: url('../vectors/recepcionist.svg');

        background-size: 330px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider5_right_col {

        flex-basis: 40%;

        width: 330px;

        background-image: url('../vectors/contact.svg');

        background-size: 330px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div.slider_left_col {

        align-self: center;

        flex-basis: 60%;

        display: flex;

        flex-direction: column;

        align-items: center;

        box-sizing: border-box;

        padding: 0px 20px 0px 20px;

    }

    section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col h2.slider_title {

        font-family: "Poppins", sans-serif;

        font-weight: 700;

        font-size: 20px;

        box-sizing: border-box;

        margin-top: 10px;

        margin-bottom: 15px;

        color: #496D96;

        text-transform: uppercase;

    }

    section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col p.slider_content {

        font-family: "Baloo Chettan 2";

        font-weight: 400;

        font-size: 0.9rem;

        color: #464146;

        text-align: justify;

        align-self: center;

    }

    section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col a.contact_link {

        display: inline-block;
    
        background-color: #354B6C;
    
        color: #EFEFEB;
    
        padding: 1.2rem 2.2rem;
    
        font-family: "Poppins", sans-serif;
    
        font-weight: 700;
    
        font-size: 1.5rem;

        letter-spacing: 2px;
    
        text-transform: uppercase;

        text-decoration: none;
    
        border-radius: .5rem;

        margin-top: 100px;
    
        margin-bottom: 50px;

        box-shadow: 0px 10px 20px rgba(0, 0, 0, .25);

        transition: all 0.1s;

    }

    section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col a.contact_link:hover {

        box-shadow: none;

        transform: scale(0.98);

    }

    section.teams div.container {

        height: 1100px;

        display: flex;

        flex-direction: column;

    }

    section.teams div.container div.team_left_col {

        flex-basis: 20%;

    }

    section.teams div.container div.team_left_col div.team_image {

        height: 400px;

        background-image: url('../vectors/team_group.svg');

        background-size: 400px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.teams div.container div.team_right_col {

        flex-basis: 80%;

        display: flex;

        flex-direction: column;

        justify-content: center;

        align-items: center;

        box-sizing: border-box;

        padding: 0px 20px 0px 20px;

    }

    section.teams div.container div.team_right_col h3.team_subtitle {

        font-family: "Poppins", sans-serif;

        font-weight: 700;

        font-size: 20px;

        color: #496D96;

        text-transform: uppercase;

        text-align: center;

    }

    section.teams div.container div.team_right_col p.team_content {

        font-family: "Baloo Chettan 2";

        font-weight: 400;

        font-size: 1.1rem;

        color: #464146;

        text-align: justify;

    }

    section.teams div.container div.team_right_col a.contact_link {

        display: inline-block;
    
        background-color: #354B6C;
    
        color: #EFEFEB;
    
        padding: 1.2rem 2.2rem;
    
        font-family: "Poppins", sans-serif;
    
        font-weight: 700;
    
        font-size: 1.5rem;

        letter-spacing: 2px;
    
        text-transform: uppercase;

        text-decoration: none;
    
        border-radius: .5rem;

        margin-top: 30px;
    
        margin-bottom: 30px;

        box-shadow: 0px 10px 20px rgba(0, 0, 0, .25);

        transition: all 0.1s;

    }

    section.teams div.container div.team_right_col a.contact_link:hover {

        box-shadow: none;

        transform: scale(0.98);

    }

}

header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item {

    text-align: center;

}

header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link {

    position: relative;

    color: #B1BECD;

    font-size: 20px;

    font-weight: 600;

    text-transform: uppercase;

    text-decoration: none;

}

header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link:hover {

    position: relative;

}

header.main_header nav.page_nav div.nav_menu ul.nav_list li.nav_item a.nav_link:hover::after { 

    position: absolute;

    left: 0;

    top: 3.5rem;

    content: "";

    width: 100%;

    height: 0.2rem;

    background-color: red;

    align-items: center;

}

header.main_header nav.page_nav div.main_company a.nav_company_name {

    font-family: "Poppins", sans-serif;

    text-transform: uppercase;

    color: #0E2431;

    letter-spacing: 2px;

    display: none;

}

header.main_header nav.page_nav div.nav_toggle {

    color: #0E2431;

    font-size: 1.5rem;

    cursor: pointer;

    z-index: 100;

    width: 65px;

    height: 65px;

    position: absolute;

    top: 10px;

    right: 10px;

    display: flex;

    align-items: center;

    justify-content: center;

    border-radius: .5rem;

    backdrop-filter: blur(20px);

    box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);

}

.show {

    right: 0%;

}

@media screen and (max-width: 390px) {

    main.main_dashboard section.home {

        height: 100vh;
    
    }
    
    main.main_dashboard section.home div.home_data {
    
        align-self: center;
    
    }
    
    main.main_dashboard section.home div.home_data h1.home_title {
    
        font-family: "Poppins", sans-serif;
    
        font-weight: 700;
    
        font-size: 1.8rem;
    
        color: #0E2431;

        margin-top: 3.7rem;
    
        margin-bottom: 3.5rem;
    
    }
    
    main.main_dashboard section.home div.home_data h1.home_title span.home_title_color {
    
        color: #496D96;

        font-weight: 900;
    
    }
    
    main.main_dashboard section.home div.home_social {
    
        display: flex;
    
        flex-direction: column;
    
        align-items: flex-end;
    
        margin-bottom: 2.5rem;

        box-sizing: border-box;

        padding-right: 10px;
    
    }
    
    main.main_dashboard section.home div.home_social a.home_social_icon {
    
        width: max-content;
    
        font-size: 2.8rem;

        box-sizing: border-box;

        margin-bottom: 10px;
    
    }
    
    main.main_dashboard section.home div.home_social a#facebook {
    
        color: #3B5998;

        font-size: 3.2rem;

        text-shadow: 0px 5px 20px rgba(0, 0, 0, .35);

        transition: all 0.1s;

    }

    main.main_dashboard section.home div.home_social a#facebook:hover {

        text-shadow: none;

        transform: scale(0.95);

    }
    
    main.main_dashboard section.home div.home_social a#whatsapp {
    
        color: #34AF23;
    
        font-size: 3.6rem;

        text-shadow: 0px 5px 20px rgba(0, 0, 0, .35);

        transition: all 0.1s;
    
    }

    main.main_dashboard section.home div.home_social a#whatsapp:hover {

        text-shadow: none;

        transform: scale(0.95);

    }
    
    main.main_dashboard section.home div.home_social a#email {
    
        color: #228CDB;

        font-size: 3.2rem;

        text-shadow: 0px 5px 20px rgba(0, 0, 0, .35);

        transition: all 0.1s;
    
    }

    main.main_dashboard section.home div.home_social a#email:hover {

        text-shadow: none;

        transform: scale(0.95);

    }
    
    main.main_dashboard section.home div.home_social a.home_social_icon {
    
        color: #464146;
    
    }
    
    main.main_dashboard section.home div.home_logo {
    
        position: absolute;
    
        left: 15px;
    
        bottom: 15px;

    }
    
    main.main_dashboard section.home div.home_logo div.home_company_logo {
    
        width: 240px;
    
        height: 240px;
    
        background-image: url("../images/jpgobbi_logo_withoutbg_cropped.png");
    
        background-repeat: no-repeat;
    
        background-size: 240px;
    
        background-position: center;
    
    }
    
    main.main_dashboard section.home div.home_data a.contact_button {
    
        display: inline-block;
    
        background-color: #354B6C;
    
        color: #EFEFEB;
    
        padding: 1.0rem 2.0rem;
    
        font-family: "Poppins", sans-serif;
    
        font-weight: 700;
    
        font-size: 1.3rem;

        letter-spacing: 2px;
    
        text-transform: uppercase;

        text-decoration: none;
    
        border-radius: .5rem;

        margin-top: 12px;
    
        margin-bottom: 0rem;

        box-shadow: 0px 10px 20px rgba(0, 0, 0, .25);

        transition: all 0.1s;
    
    }
    
    main.main_dashboard section.home div.home_data a.contact_button:hover {
    
        box-shadow: none;

        transform: scale(0.98);
    
    }

    main.main_dashboard section.about div.about_container {

        row-gap: 2rem;

        box-sizing: border-box;
    
        text-align: justify;
    
    }
    
    main.main_dashboard section.about div.about_container div.about_img {
    
        justify-self: center;
    
        width: 340px;
    
        height: 340px;
    
        background-image: url("../vectors/security_guards.svg");
    
        background-repeat: no-repeat;
    
        background-position: center;
    
        background-size: 340px;
    
    }

    main.main_dashboard section.about div.about_container div.about_contents p.about_text {

        font-family: "Baloo Chettan 2";
    
        font-size: 0.85rem;
        
        font-weight: 400;
    
        color: #464146;

        box-sizing: border-box;

        padding: 0px;

    }
    
    main.main_dashboard section.about div.about_container div.about_contents p.about_text span.content_markup {
    
        font-weight: 700;
    
        color: #496D96;
    
    }

    section.services div.container {

        width: 100%;

        margin: 10px auto;

    }

    section.services div.container div.carousel {

        height: 700px;

        position: relative;

        overflow: hidden;

    }

    section.services div.container div.carousel div.slider {

        height: 100%;

        width: 500%;

        display: flex;

        transition: all 0.3s;

    }

    section.services div.container div.carousel div.slider section.subsection_slider {

        flex-basis: 100%;

        display: flex;

        justify-content: center;

        align-items: center;

        transform: translate(-0%);

    }

    section.services div.container div.carousel div.controls span.arrow {

        position: absolute;

        bottom: 0px;

        cursor: pointer;

    }

    section.services div.container div.carousel div.controls span.left {

        left: 10px;

        color: #B1BECD;

        display: none;

    }

    section.services div.container div.carousel div.controls span.right {

        right: 10px;

        color: #B1BECD;

        display: none;

    }

    section.services div.container div.carousel div.controls ul#section_indicators {

        position: absolute;

        left: 50%;

        bottom: 20px;

        transform: translate(-50%);

        list-style: none;

        display: flex;

        box-sizing: border-box;

        margin: 0px;

        padding: 0px;

        background-color: transparent;

    }

    section.services div.container div.carousel div.controls ul#section_indicators li {

        width: 20px;

        height: 20px;

        border: 2px solid #B1BECD;

        border-radius: 50px;

        margin: 0px 12px;

        background-color: #B1BECD;

        cursor: pointer;

    }

    section.services div.container div.carousel div.controls ul#section_indicators li.selected {

        background-color: transparent;

    }

    section.services div.container div.carousel div.slider section.subsection_slider {

        display: flex;

        flex-direction: column;

        align-items: center;

        box-sizing: border-box;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider1_right_col {

        flex-basis: 30%;

        width: 240px;

        background-image: url('../vectors/handshake.svg');

        background-size: 240px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider2_right_col {

        flex-basis: 40%;

        width: 240px;

        background-image: url('../vectors/armed_guard.svg');

        background-size: 240px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider3_right_col {

        flex-basis: 40%;

        width: 240px;

        background-image: url('../vectors/unarmed_guard.svg');

        background-size: 240px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider4_right_col {

        flex-basis: 40%;

        width: 240px;

        background-image: url('../vectors/recepcionist.svg');

        background-size: 240px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div#slider5_right_col {

        flex-basis: 40%;

        width: 240px;

        background-image: url('../vectors/contact.svg');

        background-size: 240px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.services div.container div.carousel div.slider section.subsection_slider div.slider_left_col {

        align-self: center;

        flex-basis: 70%;

        display: flex;

        flex-direction: column;

        align-items: center;

        box-sizing: border-box;

        padding: 0px 20px 0px 20px;

    }

    section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col h2.slider_title {

        font-family: "Poppins", sans-serif;

        font-weight: 700;

        font-size: 18px;

        box-sizing: border-box;

        margin-top: 8px;

        margin-bottom: 8px;

        color: #496D96;

        text-transform: uppercase;

    }

    section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col p.slider_content {

        font-family: "Baloo Chettan 2";

        font-weight: 400;

        font-size: 0.8rem;

        color: #464146;

        text-align: justify;

        align-self: center;

    }

    section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col a.contact_link {

        display: inline-block;
    
        background-color: #354B6C;
    
        color: #EFEFEB;
    
        padding: 1.0rem 2.0rem;
    
        font-family: "Poppins", sans-serif;
    
        font-weight: 700;
    
        font-size: 1.3rem;

        letter-spacing: 2px;
    
        text-transform: uppercase;

        text-decoration: none;
    
        border-radius: .5rem;

        margin-top: 100px;
    
        margin-bottom: 50px;

        box-shadow: 0px 10px 20px rgba(0, 0, 0, .25);

        transition: all 0.1s;

    }

    section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col a.contact_link:hover {

        box-shadow: none;

        transform: scale(0.98);

    }

    section.teams div.container {

        height: 870px;

        display: flex;

        flex-direction: column;

    }

    section.teams div.container div.team_left_col {

        flex-basis: 20%;

    }

    section.teams div.container div.team_left_col div.team_image {

        height: 240px;

        background-image: url('../vectors/team_group.svg');

        background-size: 240px;

        background-repeat: no-repeat;

        background-position: center;

    }

    section.teams div.container div.team_right_col {

        flex-basis: 80%;

        display: flex;

        flex-direction: column;

        justify-content: center;

        align-items: center;

        box-sizing: border-box;

        padding: 0px 10px 0px 10px;

    }

    section.teams div.container div.team_right_col h3.team_subtitle {

        font-family: "Poppins", sans-serif;

        font-weight: 700;

        font-size: 20px;

        color: #496D96;

        text-transform: uppercase;

        text-align: center;

    }

    section.teams div.container div.team_right_col p.team_content {

        font-family: "Baloo Chettan 2";

        font-weight: 400;

        font-size: 0.9rem;

        color: #464146;

        text-align: justify; 

    }

    section.teams div.container div.team_right_col a.contact_link {

        display: inline-block;
    
        background-color: #354B6C;
    
        color: #EFEFEB;
    
        padding: 1.0rem 2.0rem;
    
        font-family: "Poppins", sans-serif;
    
        font-weight: 700;
    
        font-size: 1.3rem;

        letter-spacing: 2px;
    
        text-transform: uppercase;

        text-decoration: none;
    
        border-radius: .5rem;

        margin-top: 30px;
    
        margin-bottom: 30px;

        box-shadow: 0px 10px 20px rgba(0, 0, 0, .25);

        transition: all 0.1s;

    }

    section.teams div.container div.team_right_col a.contact_link:hover {

        box-shadow: none;

        transform: scale(0.98);

    }

}