@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600;800&display=swap');

* {

 	margin: 0px;

 	padding: 0px;

 	background-color: #EFEFEB;

 	font-family: 'Nunito', sans-serif;

}

section#header {

	height: 100vh;

}

section#header div.header_detail {

	height: 100vh;

	background-image: url('../vectors/wave_header.svg');

	background-repeat: no-repeat;

	background-size: cover;

}

section#header div.company_logo {

	position: absolute;

	left: 5%;

	top: 10%;

	transform: translate(-5%, -10%);

	width: 400px;

	height: 400px;

	background: transparent;

	background-image: url('../images/jpgobbi_logo_withoutbg.png');

	background-repeat: no-repeat;

	background-position: center;

	background-size: 650px;

}

section#header div.header_text {

	width: 50%;

	position: absolute;

	top: 50%;

	left: 61%;

	transform: translate(-50%, -61%);

	margin-left: 20px;

	border-radius: 10px;

	background-color: rgba(239, 239, 235, .5);

	backdrop-filter: blur(20px);

	box-shadow: 5px 2px 20px rgba(70, 65, 70, .2);

}

section#header div.header_text h1.anim-typwriter {

	font-family: 'Maven Pro';

	font-weight: 400;

	font-size: 35px;

	color: #464146;

	text-transform: uppercase;	

	background-color: transparent;

}

section#header div.header_text h1.line {

	width: 20em;

	margin: 0 auto;

	margin-top: 20px;

	border-right: 4px solid #98979A;

	text-align: center;

	white-space: nowrap;

	overflow: hidden;

	background-color: transparent;

	text-align: center;

}

section#header div.header_text h1.anim-typwriter span.header_span {

	font-family: 'Maven Pro';

	font-weight: 600;

	color: #496D96;

	background-color: transparent;

}

section#header div.header_text h1.anim-typwriter {

	animation: typewriter 4s steps(40) 0.5s 1 normal both,
	blinkTextCursor 1100ms steps(40) infinite normal;

}

@keyframes typewriter {

	from { width: 0px;  }

	to { width: 17em;  }

}

@keyframes blinkTextCursor {

	from { border-right-color: #98979A;  }

	to { border-right-color: transparent;  }

}

section#header div.header_text p.header_content {

	justify-content: center;

	font-family: 'Nunito';

	font-weight: 200;

	font-size: 20px;

	color: #464146;

	margin-top: 10px;

	text-align: justify;

	padding: 30px;

	background-color: transparent;

}
	
section#header div#mouse-middle {

	position: absolute;

	left: 50%;

	bottom: 5%;

	transform: translateX(-50%);

	margin: auto;

}

section#header div#mouse-middle div#mouse {

	width: 50px;

	height: 90px;

	border: 2px solid #B1BECD;

	border-radius: 50px;

}

section#header div#mouse-middle div#mouse::before {

	content: "";

	width: 12px;

	height: 12px;

	position: absolute;

	top: 15px;

	background-color: #BDCFDA;

	left: 50%;

	transform: translateX(-50%);

	border-radius: 50%;

	opacity: 1;

	animation: mouse 2s infinite;

}

@keyframes mouse {

	from { opacity: 1; top: 15px; }

	to { opacity: 0; top: 65px; }

}

section#about {

	height: 100vh;

	display: flex;

	align-items: center;

}

section#about div.about-left-col {

	flex-basis: 50%;

	margin-left: 50px;

}

section#about div.about-left-col div#left-col-image {

	height: 600px;

	background-image: url('../vectors/security_guards.svg');

	background-repeat: no-repeat;

	background-position: center;

	background-size: 600px;

}

section#about div.about-right-col {

	flex-basis: 50%;

	text-align: justify;

	margin-right: 140px;

	margin-left: 50px;

}

section#about div.about-right-col div.about-text p.about-content {

	font-family: 'Nunito';

	font-weight: 200;

	font-size: 18px;

	color: #464146;

	text-align: justify;

}

section#about div.about-right-col div.about-text p.about-content span.content-markup {

	font-weight: 700;

	color: #868D97;

}

section#about div.about-right-col div.about-text h1.about-title {

	font-family: 'Maven Pro';

	font-weight: 600;

	font-size: 40px;

	color: #496D96;

	text-transform: uppercase;

	text-align: right;

	box-sizing: border-box;

	padding-right: 50px;

	margin-bottom: 20px;

}

section#services {

	height: 100vh;

}

section#services div.container {

	width: 100%;

	margin: auto;

}

section#services div.container div.carousel {

	height: 100vh;

	overflow: hidden;

	position: relative;

}

section#services div.container div.carousel div.slider {

	height: 100%;

	display: flex;

	width: 500%;

	transition: all 0.5s ease;

}

section#services div.container div.carousel div.slider section.subsection_slider {

	flex-basis: 100%;

	display: flex;

	justify-content: center;

	align-items: center;

}

section#services div.container div.carousel div.controls span.arrow {

	position: absolute;

	bottom: 20px;

	cursor: pointer;

}

section#services div.container div.carousel div.controls span.left {

	left: 200px;

	color: #B1BECD;

}

section#services div.container div.carousel div.controls span.right {

	right: 200px;

	color: #B1BECD;

}

section#services div.container div.carousel div.controls ul#section_indicators {

	position: absolute;

	left: 50%;

	bottom: 20px;

	transform: translate(-50%);

	list-style: none;

	display: flex;

	margin: 0px;

	padding: 0px;

	background-color: transparent;

}

section#services div.container div.carousel div.controls ul#section_indicators li {

	width: 15px;

	height: 15px;

	border: 2px solid #B1BECD;

	border-radius: 50px;

	margin: 10px;

	background-color: #B1BECD;

	cursor: pointer;

}

section#services div.container div.carousel div.controls ul#section_indicators li.selected {

	background-color: transparent;

}

section#services div.container div.carousel div.slider section.subsection_slider {

	display: flex;

	align-items: center;

	flex-wrap: nowrap;

	box-sizing: border-box;

	padding: 50px;

}

section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col {

	flex-basis: 50%;

	display: flex;

	flex-direction: column;

	margin-left: 50px;

}

section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col h2.slider_title {

	font-family: 'Maven Pro';

	font-weight: 900;

	font-size: 30px;

	color: #496D96;

	text-transform: uppercase;

	box-sizing: border-box;

	padding-left: 50px;

	margin-bottom: 20px;

}

section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col p.slider_content {

	font-family: 'Nunito';

	font-weight: 200;

	font-size: 20px;

	color: #464146;

	text-align: justify;

}

section#services div.container div.carousel div.slider section.subsection_slider div#slider1_right_col {

	flex-basis: 50%;

	height: 600px;

	background-image: url('../vectors/handshake.svg');

	background-size: 500px;

	background-repeat: no-repeat;

	background-position: center;

	margin-left: 50px;

	margin-right: 50px;

}

section#services div.container div.carousel div.slider section.subsection_slider div#slider2_right_col {

	flex-basis: 50%;

	height: 600px;

	background-image: url('../vectors/armed_guard.svg');

	background-size: 500px;

	background-repeat: no-repeat;

	background-position: center;

	margin-left: 50px;

	margin-right: 50px;

}

section#services div.container div.carousel div.slider section.subsection_slider div#slider3_right_col {

	flex-basis: 50%;

	height: 600px;

	background-image: url('../vectors/unarmed_guard.svg');

	background-size: 500px;

	background-repeat: no-repeat;

	background-position: center;

	margin-left: 50px;

	margin-right: 50px;

}

section#services div.container div.carousel div.slider section.subsection_slider div#slider4_right_col {

	flex-basis: 50%;

	height: 600px;

	background-image: url('../vectors/recepcionist.svg');

	background-size: 500px;

	background-repeat: no-repeat;

	background-position: center;

	margin-left: 50px;

	margin-right: 50px;

}

section#services div.container div.carousel div.slider section.subsection_slider div#slider5_right_col {

	flex-basis: 50%;

	height: 600px;

	background-image: url('../vectors/contact.svg');

	background-size: 450px;

	background-repeat: no-repeat;

	background-position: center;

	margin-left: 50px;

	margin-right: 50px;

}

section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col a.contact_link {

	width: 250px;

	position: relative;

	display: inline-block;

	text-align: center;

	margin-top: 100px;

	left: 50%;

	transform: translateX(-50%);

	padding: 20px;

	font-size: 40px;

	letter-spacing: 3px;

	text-decoration: none;

	text-transform: uppercase;

	border-radius: 10px;

	box-shadow: -2px -2px 12px rgba(255, 255, 255, 1), 

				-2px -2px 16px rgba(255, 255, 255, 0.5),

				inset 2px 2px 8px rgba(255, 255, 255, 0.1), 

				2px 2px 12px rgba(70, 65, 70, 0.3);

}

section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col a.contact_link:hover {

	box-shadow: inset -2px -2px 12px rgba(255, 255, 255, 1), 

				inset -2px -2px 16px rgba(255, 255, 255, 0.5),

				inset 2px 2px 8px rgba(255, 255, 255, 0.1), 

				inset 2px 2px 12px rgba(70, 65, 70, 0.3);

}

section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col a.contact_link:hover span#contact_slide_button {

	display: inline-block;

	transform: scale(0.98);

}

section#services div.container div.carousel div.slider section.subsection_slider div.slider_left_col span#contact_slide_button {

	font-family: 'Maven Pro';

	font-weight: 600;

	color: #98979A;

}

section#team {

	height: 100vh;

	display: flex;

	align-items: center;

}

section#team div.team-left-col {

	flex-basis: 50%;

	margin-left: 50px;

}

section#team div.team-left-col div#left-col-image {

	height: 600px;

	background-image: url('../vectors/team_group.svg');

	background-size: 550px;

	background-repeat: no-repeat;

	background-position: center;

}

section#team div.team-right-col {

	flex-basis: 50%;

	display: flex;

	flex-direction: column;

	margin-right: 140px;

	margin-left: 50px;

}

section#team div.team-right-col h1.team-title {

	font-family: 'Maven Pro';

	font-weight: 600;

	font-size: 30px;

	color: #496D96;

	text-transform: uppercase;

	text-align: right;

	box-sizing: border-box;

	padding-right: 50px;

	margin-bottom: 20px;

}

section#team div.team-right-col p.team-content-1 {

	font-family: 'Nunito';

	font-weight: 200;

	font-size: 20px;

	text-align: justify;

	color: #464146;

	margin-bottom: 50px;

}

section#team div.team-right-col p.team-content-2 {

	font-family: 'Nunito';

	font-weight: 200;

	font-size: 20px;

	text-align: justify;

	color: #464146;

}

section#team div.team-right-col a.vitae_link {

	width: 250px;

	position: relative;

	display: inline-block;

	text-align: center;

	left: 50%;

	transform: translateX(-50%);

	padding: 20px;

	font-size: 40px;

	letter-spacing: 3px;

	text-decoration: none;

	text-transform: uppercase;

	border-radius: 10px;

	box-shadow: -2px -2px 12px rgba(255, 255, 255, 1), 

				-2px -2px 16px rgba(255, 255, 255, 0.5),

				inset 2px 2px 8px rgba(255, 255, 255, 0.1), 

				2px 2px 12px rgba(70, 65, 70, 0.3);

	margin-top: 20px;

	margin-bottom: 20px;

}

section#team div.team-right-col a.vitae_link:hover {

	box-shadow: inset -2px -2px 12px rgba(255, 255, 255, 1), 

				inset -2px -2px 16px rgba(255, 255, 255, 0.5),

				inset 2px 2px 8px rgba(255, 255, 255, 0.1), 

				inset 2px 2px 12px rgba(70, 65, 70, 0.3);

}

section#team div.team-right-col a.vitae_link:hover span#vitae_link_button {

	display: inline-block;

	transform: scale(0.98);

}

section#team div.team-right-col a.vitae_link span#vitae_link_button {

	font-family: 'Maven Pro';

	font-weight: 600;

	color: #B1BECD;

}

section#team div.team-right-col a.contact_send {

	width: 250px;

	position: relative;

	display: inline-block;

	text-align: center;

	left: 50%;

	transform: translateX(-50%);

	padding: 20px;

	font-size: 40px;

	letter-spacing: 3px;

	text-decoration: none;

	text-transform: uppercase;

	border-radius: 10px;

	box-shadow: -2px -2px 12px rgba(255, 255, 255, 1), 

				-2px -2px 16px rgba(255, 255, 255, 0.5),

				inset 2px 2px 8px rgba(255, 255, 255, 0.1), 

				2px 2px 12px rgba(70, 65, 70, 0.3);

	margin-top: 20px;

	margin-bottom: 20px;

}

section#team div.team-right-col a.contact_send:hover {

	box-shadow: inset -2px -2px 12px rgba(255, 255, 255, 1), 

				inset -2px -2px 16px rgba(255, 255, 255, 0.5),

				inset 2px 2px 8px rgba(255, 255, 255, 0.1), 

				inset 2px 2px 12px rgba(70, 65, 70, 0.3);

}

section#team div.team-right-col a.contact_send:hover span#contact_send_button {

	display: inline-block;

	transform: scale(0.98);

}

section#team div.team-right-col a.contact_send span#contact_send_button {

	font-family: 'Maven Pro';

	font-weight: 600;

	color: #B1BECD;

}

nav#sideNav {

	width: 220px;

	height: 100vh;

	position: fixed;

	right: -300px;

	top: 0;

	background-color: rgba(239, 239, 235, .5);

	backdrop-filter: blur(20px);

	z-index: 2;

	transition: .5s ease;

	display: flex;

	justify-content: center;

}

nav#sideNav ul {

	background-color: transparent;

	display: flex;

	flex-direction: column;

	justify-content: space-between;

	margin-top: 120px;

}

nav#sideNav ul li {

	background-color: transparent;

	list-style: none;

	display: flex;

	justify-content: center;

	font-size: 20px;

	transition: all .3s ease-in-out;

}

nav#sideNav ul li:hover {

	font-size: 40px;

	transition: all .3s ease;

}

nav#sideNav ul li a.menu_option {

	background-color: transparent;

}

nav#sideNav ul li a.menu_option i.fas {

	background-color: transparent;

	color: rgb(152, 151, 154);

}

nav#sideNav ul li a.menu_option i.fas:hover {

	color: #496D96;

}

div.menu_button {

	width: 120px;
	 
	height: 120px;

	position: fixed;

	right: 0;

	top: 0;

	margin-right: 10px;

	margin-top: 10px;

 	display: flex;

 	justify-content: center;

 	align-items: center;

	cursor: pointer;

	background-color: transparent;

	z-index: 3;

}

div.menu_button div.menu_button_burguer {

	width: 90px;

 	height: 20px;

	background-color: #B1BECD; 

	border-radius: 5px;

	transition: all .5s ease;

}

div.menu_button div.menu_button_burguer::before, div.menu_button div.menu_button_burguer::after {

	content: '';

	position: absolute;

	width: 90px;

	height: 20px;

	background-color: #496D96;

	border-radius: 5px;

	transition: all .5s ease;

}

div.menu_button div.menu_button_burguer::before {

 	transform: translateY(-35px);

}

div.menu_button div.menu_button_burguer::after {

 	transform: translateY(35px);

}

div.menu_button.open div.menu_button_burguer {

	transform: translateX(-50px);

	background-color: transparent;

}

div.menu_button.open div.menu_button_burguer::before {

	transform: rotate(45deg) translate(35px, -35px);

}

div.menu_button.open div.menu_button_burguer::after {

	transform: rotate(-45deg) translate(35px, 35px);

}
















