@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: #EFEEFB;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_title {
    font-size: 4rem;
    font-weight: 300;
    color: #464146;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
}

.section_title_span {
    font-weight: 500;
    color: #496D96;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* Início do CSS: Sessão Home */

section#home {
    background-image: url('./images/security_guard_scanning_right.jpeg');
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}

section#home::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

section#home div.home_container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 50px;
    justify-content: flex-start;
}

section#home div.home_container div.home_content h1.home_title {
    display: block;
    width: fit-content;
    font-size: 4rem;
    font-weight: 500;
    position: relative;
    color: transparent;
    animation: title_reveal 0.5s ease forwards;
    animation-delay: 1.5s;
}

section#home div.home_container div.home_content h1.home_title:nth-child(1) {
    animation-delay: 1.2s;
}

section#home div.home_container div.home_content h1.home_title:nth-child(2) {
    animation-delay: 2.2s;
}

section#home div.home_container div.home_content h1.home_title:nth-child(3) {
    animation-delay: 3.2s;
}

section#home div.home_container div.home_content h1.home_title:nth-child(4) span.title_span {
    animation-delay: 4.2s;
}

section#home div.home_container div.home_content h1.home_title span.title_box {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
    background-color: #354B6C;
    border-radius: 5px;
    animation: title_reveal_box 1s ease;
    animation-delay: 0.4s;
}

section#home div.home_container div.home_content h1.home_title:nth-child(1) span.title_box {
    animation-delay: 0.5s;
}

section#home div.home_container div.home_content h1.home_title:nth-child(2) span.title_box {
    animation-delay: 1.5s;
}

section#home div.home_container div.home_content h1.home_title:nth-child(3) span.title_box {
    animation-delay: 2.5s;
}

section#home div.home_container div.home_content h1.home_title:nth-child(4) span.title_box {
    animation-delay: 3.5s;
}

section#home div.home_container div.home_content h1.home_title span.title_span {
    font-weight: 700;
    color: transparent;
    animation: title_span_reveal 0.5s ease forwards;
    animation-delay: 1.5s;
}

section#home div.home_container div.home_content span.cta_button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
}

section#home div.home_container div.home_content span.cta_button div.text {
    position: relative;
    font-size: 2.5rem;
    font-weight: 700;
    color: #B1BECD;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

section#home div.home_container div.home_content span.cta_button div.text a {
    text-decoration: none;
    color: #B1BECD;
}

section#home div.home_container div.home_content span.cta_button div.text::before {
    content: attr(data-text);
    position: absolute;
    color: #354B6C;
    width: 100%;
    overflow: hidden;
    transition: 0.3s;
}

section#home div.home_container div.home_content span.cta_button::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #B1BECD;
    border-radius: 5px;
    right: 0;
    top: 0;
    transition: 0.3s;

}

section#home div.home_container div.home_content span.cta_button:hover div.text::before {
    width: 0%;
}

section#home div.home_container div.home_content span.cta_button:hover::before {
    width: 0%;
}

/* Fim do CSS: Sessão Home */

/* Início do CSS: Animações Keyframes gerais */

@keyframes title_reveal_box {
    50% { width: 100%; left: 0%; }
    100% { width: 0%; left: 100%; }
}

@keyframes title_reveal {
    100% { color: #B1BECD; }
}

@keyframes title_span_reveal {
    100% { color: #496D96; }
}

/* Fim do CSS: Animações Keyframes gerais */

/* Início do CSS: Sessão Services */

section#services div.services_container {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 100px 0;
}

section#services div.services_container div.services_top p.section_text {
    font-size: 1.5rem;
    color: #000000;
    margin: 50px 40px;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-align: justify;
    max-width: 1000px;
}

section#services div.services_container div.services_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

section#services div.services_container div.services_bottom div.service_item {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    margin: 10px 5%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

section#services div.services_container div.services_bottom div#card_1 {
    background-image: url('./images/security_professional.jpeg');
    background-size: cover;
}

section#services div.services_container div.services_bottom div#card_2 {
    background-image: url('./images/armed_surveillance.jpg');
    background-size: cover;
}

section#services div.services_container div.services_bottom div#card_3 {
    background-image: url('./images/unarmed_guard.jpg');
    background-size: cover;
}

section#services div.services_container div.services_bottom div#card_4 {
    background-image: url('./images/receptionist_professionals.jpg');
    background-size: cover;
}

section#services div.services_container div.services_bottom div.service_item::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: 0.7;
    z-index: -1;
}

section#services div.services_container div.services_bottom div.service_item div.icon {
    height: 100px;
    width: 100px;
    margin-bottom: 20px;
}

section#services div.services_container div.services_bottom div.service_item h2.service_item_title {
    font-size: 2rem;
    color: #496D96;
    margin-bottom: 10px;
    text-transform: uppercase;
}

section#services div.services_container div.services_bottom div.service_item p.service_item_text {
    color: #B1BECD;
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.9rem;
}

section#services div.services_container div.services_bottom div.service_item p.service_item_text span.service_item_span {
    color: #DEDCDF;
    font-weight: 500;
}

/* Fim do CSS: Sessão Services */

/* Início do CSS: Section Projects */

section#projects div.projects_container {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

section#projects div.projects_container div.projects_header h1.section_title {
    margin-bottom: 50px;
}

section#projects div.projects_container div.all_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section#projects div.projects_container div.all_projects div.project_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
}

section#projects div.projects_container div.all_projects div.project_item div.project_info {
    padding: 30px;
    flex-basis: 50%;
    background-color: #CCCCCC;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

section#projects div.projects_container div.all_projects div.project_item div.project_info h1.project_title {
    font-size: 4rem;
    font-weight: 500;
}

section#projects div.projects_container div.all_projects div.project_item div.project_info h2.project_subtitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 10px;
}

section#projects div.projects_container div.all_projects div.project_item div.project_info p.project_text {
    color: #FFFFFF;
}

section#projects div.projects_container div.all_projects div.project_item div.project_image {
    flex-basis: 50%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

section#projects div.projects_container div.all_projects div.project_item div.project_image::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
}

/* Fim do CSS: Section Projects */
