@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {

    padding: 0px;

    margin: 0px;

    box-sizing: border-box;

}

html {

    font-size: 10px;

    font-family: 'Montserrat', sans-serif;

}

section#hero {

    background-image: url('./images/security_guard_scanning.jpg');

    background-size: cover;

    background-position: top center;

    position: relative;

    z-index: 1;

}

section#hero::after {

    content: '';

    position: absolute;

    left: 0px;

    top: 0px;

    height: 100%;

    width: 100%;

    background-color: #000000;

    opacity: 0.7;

    z-index: -1;

}

section#hero div.container {

    min-height: 100vh;

    width: 100%;

    display: flex;

    align-items: center;

    justify-content: center;

}

section#hero div.hero {

    max-width: 1200px;

    margin: 0px auto;

    padding: 0px 50px;

    display: flex;

    justify-content: flex-start;

}

section#hero div.container div.container_content a.cta_contact {

    text-decoration: none;

    display: inline-block;

    padding: 10px 30px;

    color: #FFFFFF;

    background-color: transparent;

    border: 2px solid #496D96;

    border-radius: .5rem;

    font-size: 2rem;

    text-transform: uppercase;

    letter-spacing: .1rem;

    margin-top: 36px;

    transition: .3s ease;

    transition-property: background-color, color;

}

section#hero div.container div.container_content a.cta_contact:hover {

    color: #FFFFFF;

    background-color: #496D96;

}

section#hero div.container div.container_content h1.main_title {

    display: block;

    width: fit-content;

    font-size: 4rem;

    position: relative;

    color: transparent;

    animation: text_reveal .5s ease forwards;

    animation-delay: 1s;

}

section#hero div.container div.container_content h1.main_title:nth-child(1) {

    animation-delay: 1s;

}

section#hero div.container div.container_content h1.main_title:nth-child(2) {

    animation-delay: 2s;

}

section#hero div.container div.container_content h1.main_title:nth-child(3) {

    animation-delay: 3s;

}

section#hero div.container div.container_content h1.main_title span {

    position: absolute;

    left: -2px;

    top: -2px;

    height: 100%;

    width: 0%;

    background-color: #496D96;

    border-radius: .5rem;

    animation: text_reveal_box 1s ease;

    animation-delay: .3s;

}

section#hero div.container div.container_content h1.main_title:nth-child(1) span {

    animation-delay: .5s;

}

section#hero div.container div.container_content h1.main_title:nth-child(2) span {

    animation-delay: 1.5s;

}

section#hero div.container div.container_content h1.main_title:nth-child(3) span {

    animation-delay: 2.5s;

}

@keyframes text_reveal_box {

    50% { width: 100%; left: -2px; }

    100% { width: 0%; left: 100%; }

}

@keyframes text_reveal {

    100% { color: #FFFFFF; }

}
