@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
/* Global CSS Parameters */
* { padding: 0; margin: 0; box-sizing: border-box; }
html { font-size: 10px; font-family: 'Montserrat', sans-serif; scroll-behavior: smooth; background-color: #EFEFEB; }
a { text-decoration: none; }
.container { min-height: 100vh; width: 100%; display: flex; align-items: center; justify-content: center; }
img { height: 100%; width: 100%; object-fit: cover; }
p { color: black; font-size: 1.5rem; margin-top: 5px; line-height: 2.5rem; font-weight: 300; letter-spacing: 0.05rem; text-align: justify; padding: 0px 20px; }
.section_title { font-size: 4rem; font-weight: 400; color: #464146; margin-bottom: 50px; text-transform: uppercase; letter-spacing: 0.2rem; text-align: center; }
.section_title span.section_title_span { color: #496D96; }
.call_to_action { display: inline-block; padding: 10px 30px; color: #FFFFFF; background-color: transparent; border: 2px solid #496D96; font-size: 2rem; text-transform: uppercase; letter-spacing: 0.1rem; margin-top: 30px; border-radius: 7px; transition: 0.3s ease; transition-property: background-color, color; }
.call_to_action:hover { color: #FFFFFF; background-color: #496D96; }
div.brand h1.brand_title { font-size: 1.3rem; text-transform: uppercase; color: #B1BECD; margin-left: 10px; }
div.brand h1.brand_title span.brand_span { color: #496D96; }
/* End Global CSS Parameters */
/* Main Header Menu */
section#header { position: fixed; z-index: 1000; left: 0px; top: 0px; width: 100vw; height: auto; }
section#header div.header {min-height: 8vh; background: rgba(31, 30, 30, 0.24); transition: 0.3s ease background-color; }
section#header div.header div.nav_bar { display: flex; align-items: center; justify-content: space-between; width: 100%; height: 100%; max-width: 1300px; padding: 5px 10px; }
section#header div.header div.nav_bar div.nav_list ul { list-style: none; position: absolute; background-image: linear-gradient(0deg, #485563 0%, #29323C 100%); width: 100vw; height: 100vh; left: 100%; top: 0%; display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 1; overflow-x: hidden; transition: 0.3s ease; transition-property: left; }
section#header div.header div.nav_bar div.nav_list ul.active { left: 0%; }
section#header div.header div.nav_bar div.nav_list ul a { font-size: 2.5rem; font-weight: 500; letter-spacing: 0.2rem; text-decoration: none; color: #B1BECD; text-transform: uppercase; padding: 20px; display: block; transition: 0.3s ease; transition-property: font-size, color; }
section#header div.header div.nav_bar div.nav_list ul a::after { content: attr(data-after); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) scale(0); color: rgba(240, 248, 255, 0.021); font-size: 6rem; letter-spacing: 50px; z-index: -1; transition: 0.3s ease; transition-property: letter-spacing; }
section#header div.header div.nav_bar div.nav_list ul li:hover a::after { transform: translate(-50%, -50%) scale(1); letter-spacing: initial; }
section#header div.header div.nav_bar div.nav_list ul li:hover a { color: #496D96; font-size: 4rem; }
section#header div.header div.nav_bar div.nav_list ul li a.active { color: #496D96; font-size: 4rem; }
section#header div.header div.nav_bar div.nav_list ul li a.active::after { transform: translate(-50%, -50%) scale(1); letter-spacing: initial; }
section#header div.header div.nav_bar div.nav_list div.hamburger { height: 50px; width: 50px; display: inline-block; border: 3px solid #354b6c; border-radius: 50%; position: relative; display: flex; align-items: center; justify-content: center; z-index: 100; cursor: pointer; transform: scale(0.8); margin-right: 10px; }
section#header div.header div.nav_bar div.nav_list div.hamburger::after { position: absolute; content: ''; height: 100%; width: 100%; border-radius: 50%; border: 3px solid #B1BECD; animation: hamburger_puls 1s ease infinite; }
section#header div.header div.nav_bar div.nav_list div.hamburger div.bar { height: 2px; width: 25px; position: relative; background-color: #496D96; z-index: -1; }
section#header div.header div.nav_bar div.nav_list div.hamburger div.bar::after, section#header div.header div.nav_bar div.nav_list div.hamburger div.bar::before { content: ''; position: absolute; height: 100%; width: 100%; left: 0px; background-color: #B1BECD; transition: 0.3s ease; transition-property: top, bottom; }
section#header div.header div.nav_bar div.nav_list div.hamburger div.bar::after { top: 8px; }
section#header div.header div.nav_bar div.nav_list div.hamburger div.bar::before { bottom: 8px; }
section#header div.header div.nav_bar div.nav_list div.hamburger.active div.bar::before { bottom: 0px; }
section#header div.header div.nav_bar div.nav_list div.hamburger.active div.bar::after { top: 0px; }
/* End Main Header Menu */
/* Hero Section */
section#hero { background-image: url(./images/security_guard_scanning_right.jpeg); background-size: cover; background-position: top center; position: relative; z-index: 1; }
section#hero::after { content: ''; position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; background-color: black; opacity: 0.7; z-index: -1; }
section#hero div.hero { max-width: 1200px; margin: 0px auto; padding: 0px 50px; justify-content: flex-start; }
section#hero div.hero div h1 { display: block; width: fit-content; font-size: 3.8rem; position: relative; color: transparent; animation: text_reveal 0.5s ease forwards; animation-delay: 1s; }
section#hero div.hero div h1:nth-child(1) { animation-delay: 1s; }
section#hero div.hero div h1:nth-child(2) { animation-delay: 2s; }
section#hero div.hero div h1:nth-child(3) { animation: text_reveal_name 0.5s ease forwards; animation-delay: 3s; }
section#hero div.hero div h1 span { position: absolute; top: 0px; left: 0px; height: 100%; width: 0%; background-color: #354B6C; animation: text_reveal_box 1s ease; animation-delay: 0.5s; }
section#hero div.hero div h1:nth-child(1) span { animation-delay: 0.5s; }
section#hero div.hero div h1:nth-child(2) span { animation-delay: 1.5s; }
section#hero div.hero div h1:nth-child(3) span { animation-delay: 2.5s; }
/* End Hero Section */
/* Services Section */
section#services div.services div.service_top h1.section_title { font-size: 2.6rem; font-weight: 500; }
section#services div.services { flex-direction: column; text-align: center; max-width: 1500px; margin: 0px auto; padding: 100px 0px; }
section#services div.services div.service_top { max-width: 1000px; margin: 0px auto; }
section#services div.services div.service_top p { padding: 0px 20px; font-weight: 400; }
section#services div.services div.service_bottom { display: flex; align-items: center; justify-content: center; flex-wrap: wrap; margin-top: 50px; }
section#services div.services div.service_bottom div.service_item { flex-basis: 80%; display: flex; align-items: flex-start; justify-content: center; flex-direction: column; background-image: linear-gradient(60deg, #485563 50%, #29323C 100%); padding: 10px; border-radius: 10px; margin: 10px 5%; position: relative; z-index: 1; overflow: hidden; }
section#services div.services div.service_bottom div.service_item p.service_item_text { color: #B1BECD;  font-size: 1.2rem; line-height: 2rem; font-weight: 500; text-align: left; margin-bottom: 15px; }
section#services div.services div.service_bottom div.service_item p.service_item_text span.service_text_span { color: #496D96; font-weight: 700; }
section#services div.services div.service_bottom div.service_item::after { content: ''; position: absolute; left: 0px; top: 0px; height: 100%; width: 100%; background-color: rgba(0, 0, 0, 0.4); opacity: 0.8; z-index: -1; }
section#services div.services div.service_bottom div.service_item div.item_icon { width: 100px; height: 100px; margin-left: 15px; margin-top: 15px; margin-bottom: 15px; }
section#services div.services div.service_bottom div.service_item div.icon_first { background-image: url(./vectors/handshake.svg); background-size: cover; background-position: center; background-repeat: no-repeat; }
section#services div.services div.service_bottom div.service_item div.icon_second { background-image: url(./vectors/armed_guard.svg); background-size: contain; background-position: center; background-repeat: no-repeat; }
section#services div.services div.service_bottom div.service_item div.icon_third { background-image: url(./vectors/unarmed_guard.svg); background-size: cover; background-position: center; background-repeat: no-repeat; }
section#services div.services div.service_bottom div.service_item div.icon_four { background-image: url(./vectors/recepcionist.svg); background-size: cover; background-position: center; background-repeat: no-repeat; }
section#services div.services div.service_bottom div.service_item h2 { font-size: 1.6rem; margin-left: 20px; color: #496D96; margin-bottom: 10px; text-transform: uppercase; }
/* End Services Section */
/* Projects Section */
section#projects div.projects div.projects_header h1.section_title { font-size: 2.6rem; font-weight: 500; }
section#projects div.projects div.projects_header { max-width: 1000px; margin: 0px auto; }
section#projects div.projects div.projects_header p { padding: 0px 20px; font-weight: 400; }
section#projects div.projects { flex-direction: column; max-width: 1200px; margin: 0px auto; padding: 100px 0px; }
section#projects div.projects div.all_projects { display: flex; align-items: center; justify-content: center; flex-direction: column; margin-top: 50px; }
section#projects div.projects div.all_projects div.project_item { display: flex; align-items: center; justify-content: center; flex-direction: column; width: 80%; margin: 20px auto; overflow: hidden; border-radius: 10px; }
section#projects div.projects div.all_projects div.project_item div.project_info { padding: 10px; flex-basis: 50%; height: 100%; display: flex; align-items: flex-start; justify-content: center; flex-direction: column; background-image: linear-gradient(0deg,#485563 0%, #29323c 100%); }
section#projects div.projects div.all_projects div.project_item div.project_info h1 { font-size: 1.5rem; font-weight: 700; margin-left: 15px; margin-top: 15px; margin-bottom: 15px; text-transform: uppercase; color: #496D96; }
section#projects div.projects div.all_projects div.project_item div.project_info p {font-weight: 500; font-size: 1.3rem; color: #B1BECD; line-height: 2.3rem; text-align: left; margin-bottom: 15px; }
section#projects div.projects div.all_projects div.project_item div.project_info p span { color: #496D96; font-weight: 700; }
section#projects div.projects div.all_projects div.project_item div.project_image { flex-basis: 50%; height: 300px; width: 100%; overflow: hidden; position: relative; background-image: linear-gradient(0deg,#485563 0%, #29323c 100%); padding: 20px; display: flex; justify-content: center; align-items: center; }
section#projects div.projects div.all_projects div.project_item div.project_image img { transition: 0.3s ease; transition-property: transform; width: 90%; height: auto; transform: scale(0.8); }
section#projects div.projects div.all_projects div.project_item:hover div.project_image img { transform: scale(1); }
/* End Projects Section */

/* About Section */

#about .about {

    flex-direction: column-reverse;

    text-align: center;

    max-width: 1200px;

    margin: 0 auto;

    padding: 100px 20px;

}

#about .col-left {

    width: 250px;

    height: 360px;


}

#about .col-right {

    width: 100%;

}

#about .col-right h2 {

    font-size: 1.8rem;

    font-weight: 500;

    letter-spacing: .2rem;

    margin-bottom: 10px;

}

#about .col-right p {

    margin-bottom: 20px;

    padding: 0px;

}

#about .col-right .cta {

    color: black;

    margin-bottom: 50px;

    padding: 10px 20px;

    font-size: 2rem;

}

#about .col-left .about-img {

    height: 100%;

    width: 100%;

    position: relative;

    border: 10px solid white;

}

#about .col-left .about-img::after {

    content: '';

    position: absolute;

    left: -33px;

    top: 19px;

    height: 98%;

    width: 98%;

    border: 7px solid crimson;

    z-index: -1;

}

/* End About Section */

/* Contact Section */
section#contact div.contact div h1.section_title { font-size: 2.6rem; font-weight: 500; }
section#contact div.contact { flex-direction: column; max-width: 1200px; margin: 0px auto; }
section#contact div.contact div p { max-width: 1000px; padding: 0px 20px; font-weight: 400; }
section#contact div.contact div.contact_items { min-width: 320px; margin: 50px auto; display: flex; flex-direction: column; justify-content: center; align-items: center; }
section#contact div.contact div.contact_items div.contact_item { min-width: 250px; min-height: 250px; padding: 20px; text-align: center; border-radius: 10px; padding: 30px; margin: 30px; display: flex; justify-content: center; align-items: center; flex-direction: column; box-shadow: 0px 0px 18px 0 #0000002C; transition: 0.3s ease; transition-property: box-shadow; }
section#contact div.contact div.contact_items div.contact_item:hover { box-shadow: 0px 0px 5px 0 #0000002C; }
section#contact div.contact div.contact_items div.contact_item div.icon { width: 70px; margin: 0 auto; margin-bottom: 10px; }
section#contact div.contact div.contact_items div.contact_item div.contact_info h1 { font-size: 2rem; font-weight: 500; color: #496D96; margin-bottom: 5px; text-transform: uppercase; }
section#contact div.contact div.contact_items div.contact_item div.contact_info h2 { font-size: 1.5rem; line-height: 2rem; text-transform: uppercase; font-weight: 500; color: #464146; }
section#contact div.contact div.contact_items div.contact_item div.contact_info h3 { font-size: 1.5rem; color: #354B6C; margin-top: 10px; }
/* End Contact Section */
/* Footer Section */
section#footer { background-image: linear-gradient(45deg, #29323C 0%, #485563 100%); }
section#footer div.footer { min-height: 250px; flex-direction: column; padding-top: 20px; padding-bottom: 10px; }
section#footer div.footer div.brand h1.brand_title { margin-bottom: 20px; }
section#footer div.footer h2 { color: #B1BECD; font-weight: 500; text-transform: uppercase; font-size: 1rem; letter-spacing: 0.15rem; margin-bottom: 20px; }
section#footer div.footer div.social_icon { display: flex; margin-bottom: 20px; }
section#footer div.footer div.social_icon div.social_item { height: 50px; width: 50px; margin: 0px 5px; }
section#footer div.footer p { color: #B1BECD; font-size: 1rem; font-weight: 400; }
/* End Footer Section */
/* General Keyframes */
    @keyframes hamburger_puls { 0% { opacity: 1; transform: scale(1); } 100% { opacity: 0; transform: scale(1.4); } }
    @keyframes text_reveal_box { 50% { width: 100%; left: 0%; } 100% { width: 0%; left: 100%; } }
    @keyframes text_reveal { 100% { color: #B1BECD; } }
    @keyframes text_reveal_name { 100% { color: #496D96; font-weight: 700; } }
/* End General Keyframes */
/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
    /* Main Header Menu */
    div.brand h1.brand_title { font-size: 2.8rem; }
    section#header div.header div.nav_bar div.nav_list ul a::after { font-size: 14rem; }
    section#header div.header div.nav_bar div.nav_list div.hamburger { width: 80px; height: 80px; }
    section#header div.header div.nav_bar div.nav_list div.hamburger div.bar { width: 45px; }
    section#header div.header div.nav_bar div.nav_list div.hamburger div.bar::after { top: 12px; }
    section#header div.header div.nav_bar div.nav_list div.hamburger div.bar::before { bottom: 12px; }
    /* End Main Header Menu */
    /* Hero Section */
    .call_to_action { font-size: 2.5rem; padding: 20px 60px; }
    section#hero div.hero div h1 { font-size: 7rem; }
    /* End Hero Section */
    /* Services Section */
    section#services div.services div.service_top h1.section_title { font-size: 4rem; }
    section#services div.services div.service_top p { font-size: 1.6rem; padding: 0px 30px; }
    section#services div.services div.service_bottom div.service_item { flex-basis: 45%; margin: 2.5%; max-height: 359px; }
    section#services div.services div.service_bottom div.service_item p.service_item_text { font-size: 1.5rem; }
    section#services div.services div.service_bottom div.service_item h2 { font-size: 2rem; }
    /* End Services Section */
    /* Projects Section */
    section#projects div.projects div.projects_header h1.section_title { font-size: 4rem; }
    section#projects div.projects div.projects_header p { font-size: 1.6rem; padding: 0px 30px;}
    section#projects div.projects div.all_projects div.project_item { flex-direction: row; }
    section#projects div.projects div.all_projects div.project_item:nth-child(even) { flex-direction: row-reverse; }
    section#projects div.projects div.all_projects div.project_item { height: 400px; margin: 0px; width: 100%; border-radius: 0px; }
    section#projects div.projects div.all_projects div.project_item div.project_info { height: 100%; }
    section#projects div.projects div.all_projects div.project_item div.project_info h1 { font-size: 2.2rem; }
    section#projects div.projects div.all_projects div.project_item div.project_info p { font-size: 1.5rem; line-height: 2.5rem; }
    section#projects div.projects div.all_projects div.project_item div.project_info.right p { text-align: right; }
    section#projects div.projects div.all_projects div.project_item div.project_image { height: 400px; display: flex; justify-content: center; align-items: center; }
    section#projects div.projects div.all_projects div.project_item div.project_image img { transition: 0.3s ease; transition-property: transform; width: 85%; height: auto; transform: scale(0.8); }
    section#projects div.projects div.all_projects div.project_item:hover div.project_image img { transform: scale(1); }
    /* End Projects Section */

    /* About Section */

    #about .about {

        flex-direction: row;

    }

    #about .col-left {

        width: 600px;

        height: 400px;

        padding-left: 60px;

    }

    #about .about .col-left .about-img::after {

        left: -45px;

        top: 34px;

        height: 98%;

        width: 98%;

        border: 10px solid crimson;

    }

    #about .col-right {

        text-align: left;

        padding: 30px;

    }

    #about .col-right h1 {

        text-align: left;

    }

    /* End About Section */

    /* Contact Section */
    section#contact div.contact div h1.section_title { font-size: 4rem; }
    section#contact div.contact div p { font-size: 1.6rem; padding: 0px 30px; }
    /* End Contact Section */
    /* Footer Section */
    section#footer div.footer h2 { font-size: 1.5rem; }
    section#footer div.footer p { font-size: 1.5rem; }
    /* End Footer Section */
}
/* End Media Query For Tablet */
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
    /* Main Header Menu */
    section#header div.header div.nav_bar div.nav_list ul li:hover a { font-size: 2.3rem; }
    section#header div.header div.nav_bar div.nav_list ul li a.active { font-size: 2.3rem; }
    section#header div.header div.nav_bar div.nav_list div.hamburger { display: none; }
    section#header div.header div.nav_bar div.nav_list ul { position: initial; display: block; height: auto; width: fit-content; background-image: none; }
    section#header div.header div.nav_bar div.nav_list ul li { display: inline-block; }
    section#header div.header div.nav_bar div.nav_list ul li a { font-size: 1.7rem; }
    section#header div.header div.nav_bar div.nav_list ul a::after { display: none; }
    /* End Main Header Menu */
    /* Services Section */
    section#services div.services div.service_top p { font-size: 1.8rem; }
    section#services div.services div.service_bottom div.service_item { flex-basis: 22%; margin: 1.5%; min-height: 440px; }
    /* End Services Section */
    /* Projects Section */
    section#projects div.projects div.projects_header p { font-size: 1.8rem; }
    /* End Projects Section */
    /* Contact Section */
    section#contact div.contact div p { font-size: 1.8rem; }
    section#contact div.contact { max-width: 1000px; flex-direction: column; padding: 100px 0px; align-items: center; justify-content: center; min-width: 20vh; }
    section#contact div.contact div.contact_items { width: 100%; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center; margin: 50px; }
    /* End Contact Section */
    /* Footer Section */
    section#footer div.footer div.social_icon div.social_item img { transition: 0.2s ease; transition-property: transform; }
    section#footer div.footer div.social_icon div.social_item:hover img { transform: scale(1.2); }
    /* End Footer Section */
}
/* End Media Query For Desktop */